@import "tailwindcss";
@import "@radix-ui/colors/cyan.css";
@import "@radix-ui/colors/slate.css";
@import "@radix-ui/colors/sage-dark.css";
@import "@radix-ui/colors/sky.css";
@import "@radix-ui/colors/teal.css";
@import "@radix-ui/colors/sage.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/amber.css";
@import "@radix-ui/colors/grass.css";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

    --color-teal-1: var(--teal-1);
    --color-teal-2: var(--teal-2);
    --color-teal-3: var(--teal-3);
    --color-teal-4: var(--teal-4);
    --color-teal-5: var(--teal-5);
    --color-teal-6: var(--teal-6);
    --color-teal-7: var(--teal-7); 
    --color-teal-8: var(--teal-8);
    --color-teal-9: var(--teal-9);
    --color-teal-10: var(--teal-10);
    --color-teal-11: var(--teal-11);
    --color-teal-12: var(--teal-12);

    --color-sage-1: var(--sage-1);
    --color-sage-2: var(--sage-2);
    --color-sage-3: var(--sage-3);
    --color-sage-4: var(--sage-4);
    --color-sage-5: var(--sage-5);
    --color-sage-6: var(--sage-6);
    --color-sage-7: var(--sage-7);
    --color-sage-8: var(--sage-8);
    --color-sage-9: var(--sage-9);
    --color-sage-10: var(--sage-10);
    --color-sage-11: var(--sage-11);
    --color-sage-12: var(--sage-12);

    --color-sage-dark-1: var(--sage-dark-1);
    --color-sage-dark-2: var(--sage-dark-2);
    --color-sage-dark-3: var(--sage-dark-3);
    --color-sage-dark-4: var(--sage-dark-4);
    --color-sage-dark-5: var(--sage-dark-5);
    --color-sage-dark-6: var(--sage-dark-6);
    --color-sage-dark-7: var(--sage-dark-7);
    --color-sage-dark-8: var(--sage-dark-8);
    --color-sage-dark-9: var(--sage-dark-9);
    --color-sage-dark-10: var(--sage-dark-10);
    --color-sage-dark-11: var(--sage-dark-11);
    --color-sage-dark-12: var(--sage-dark-12);

    --color-cyan-1: var(--cyan-1);
    --color-cyan-2: var(--cyan-2);
    --color-cyan-3: var(--cyan-3);
    --color-cyan-4: var(--cyan-4);
    --color-cyan-5: var(--cyan-5);
    --color-cyan-6: var(--cyan-6);
    --color-cyan-7: var(--cyan-7);
    --color-cyan-8: var(--cyan-8);
    --color-cyan-9: var(--cyan-9);
    --color-cyan-10: var(--cyan-10);
    --color-cyan-11: var(--cyan-11);
    --color-cyan-12: var(--cyan-12);

    --color-red-1: var(--red-1);
    --color-red-2: var(--red-2);
    --color-red-3: var(--red-3);
    --color-red-4: var(--red-4);
    --color-red-5: var(--red-5);
    --color-red-6: var(--red-6);
    --color-red-7: var(--red-7);
    --color-red-8: var(--red-8);
    --color-red-9: var(--red-9);
    --color-red-10: var(--red-10);
    --color-red-11: var(--red-11);
    --color-red-12: var(--red-12);

    --color-sky-1: var(--sky-1);
    --color-sky-2: var(--sky-2);
    --color-sky-3: var(--sky-3);
    --color-sky-4: var(--sky-4);
    --color-sky-5: var(--sky-5);
    --color-sky-6: var(--sky-6);
    --color-sky-7: var(--sky-7);
    --color-sky-8: var(--sky-8);
    --color-sky-9: var(--sky-9);
    --color-sky-10: var(--sky-10);
    --color-sky-11: var(--sky-11);
    --color-sky-12: var(--sky-12);


  
    --color-slate-1: var(--slate-1);
    --color-slate-2: var(--slate-2);
    --color-slate-3: var(--slate-3);
    --color-slate-4: var(--slate-4);
    --color-slate-5: var(--slate-5);
    --color-slate-6: var(--slate-6);
    --color-slate-7: var(--slate-7);
    --color-slate-8: var(--slate-8);
    --color-slate-9: var(--slate-9);
    --color-slate-10: var(--slate-10);
    --color-slate-11: var(--slate-11);
    --color-slate-12: var(--slate-12);

    --color-amber-1: var(--amber-1);
    --color-amber-2: var(--amber-2);
    --color-amber-3: var(--amber-3);
    --color-amber-4: var(--amber-4);
    --color-amber-5: var(--amber-5);
    --color-amber-6: var(--amber-6);
    --color-amber-7: var(--amber-7);
    --color-amber-8: var(--amber-8);
    --color-amber-9: var(--amber-9);
    --color-amber-10: var(--amber-10);
    --color-amber-11: var(--amber-11);
    --color-amber-12: var(--amber-12);

    --color-grass-1: var(--grass-1);
    --color-grass-2: var(--grass-2);
    --color-grass-3: var(--grass-3);
    --color-grass-4: var(--grass-4);
    --color-grass-5: var(--grass-5);
    --color-grass-6: var(--grass-6);
    --color-grass-7: var(--grass-7);
    --color-grass-8: var(--grass-8);
    --color-grass-9: var(--grass-9);
    --color-grass-10: var(--grass-10);
    --color-grass-11: var(--grass-11);
    --color-grass-12: var(--grass-12);
}

.better-shadow {
  box-shadow: rgba(28, 40, 64, 0.04) 0px 0px 0px 1px, rgba(28, 40, 64, 0.12) 0px 4px 8px -4px, rgba(28, 40, 64, 0.16) 0px 4px 12px -2px;
}