@import "tailwindcss";
@import "@radix-ui/colors/cyan.css";
@import "@radix-ui/colors/slate.css";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/teal.css";
@import "@radix-ui/colors/sage.css";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

    --color-teal-1: var(--teal-1);
    --color-teal-2: var(--teal-2);
    --color-teal-3: var(--teal-3);
    --color-teal-4: var(--teal-4);
    --color-teal-5: var(--teal-5);
    --color-teal-6: var(--teal-6);
    --color-teal-7: var(--teal-7); 
    --color-teal-8: var(--teal-8);
    --color-teal-9: var(--teal-9);
    --color-teal-10: var(--teal-10);
    --color-teal-11: var(--teal-11);
    --color-teal-12: var(--teal-12);

    --color-sage-1: var(--sage-1);
    --color-sage-2: var(--sage-2);
    --color-sage-3: var(--sage-3);
    --color-sage-4: var(--sage-4);
    --color-sage-5: var(--sage-5);
    --color-sage-6: var(--sage-6);
    --color-sage-7: var(--sage-7);
    --color-sage-8: var(--sage-8);
    --color-sage-9: var(--sage-9);
    --color-sage-10: var(--sage-10);
    --color-sage-11: var(--sage-11);
    --color-sage-12: var(--sage-12);

    --color-cyan-1: var(--cyan-1);
    --color-cyan-2: var(--cyan-2);
    --color-cyan-3: var(--cyan-3);
    --color-cyan-4: var(--cyan-4);
    --color-cyan-5: var(--cyan-5);
    --color-cyan-6: var(--cyan-6);
    --color-cyan-7: var(--cyan-7);
    --color-cyan-8: var(--cyan-8);
    --color-cyan-9: var(--cyan-9);
    --color-cyan-10: var(--cyan-10);
    --color-cyan-11: var(--cyan-11);
    --color-cyan-12: var(--cyan-12);
  
    --color-slate-1: var(--slate-1);
    --color-slate-2: var(--slate-2);
    --color-slate-3: var(--slate-3);
    --color-slate-4: var(--slate-4);
    --color-slate-5: var(--slate-5);
    --color-slate-6: var(--slate-6);
    --color-slate-7: var(--slate-7);
    --color-slate-8: var(--slate-8);
    --color-slate-9: var(--slate-9);
    --color-slate-10: var(--slate-10);
    --color-slate-11: var(--slate-11);
    --color-slate-12: var(--slate-12);
}